@import "variable";
@import "mixin";

body{
    background: $backBody;
    justify-items: center;
    text-align: justify;
    align-items: center;
}

.oClock{
   @include style($fontSizeClock,50%,50%);
}
.date{
    @include style($fontSizeDate,60%,50%);
}